
.polyglot label {
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 11px;
    margin: 0;
}
.polyglot [type=radio]  {
    display: none;
}
.polyglot img  {
    display: block;
    border: 1px solid transparent;
    opacity: 0.45;
}
.polyglot label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    z-index: -1;
}
.polyglot img:hover    {
    opacity: 1;
}
.polyglot [type=radio]:checked + label img   {
    opacity: 1;
    border-color: #fff;
}
.polyglot .flags    {
    display: inline-block;
    line-height: 0;
    height: 11px;
}