
.polyglot img  {
    opacity: 0.5;
}
.polyglot img:hover    {
    opacity: 1;
}
.polyglot .act img   {
    opacity: 1;
}

.polyglot a {
    border: 1px solid transparent;
    background-color: #ccc;
}

.polyglot .act a    {
    border-color: #fff;
}

.polyglot-bl {
    display: inline-block;
    line-height: 0;
}
.polyglot-bl a {
    display: inline-block;
    background-color: #ccc;
    margin: 0 2px;
}
.polyglot-dd    {
}

.polyglot-dd .dropdown-toggle {
    background-color: transparent;
    color: #fff;
}
.dropdown-toggle a   {
}
.polyglot-dd .dropdown-menu {
    flex-direction: column;
    min-width: auto;
    padding: 0;
    background-color: inherit;

}
.polyglot-dd a {
    display: block;
    line-height: 0;
    margin: 4px;
}
