
.polyglot img  {
    opacity: 0.5;
}
.polyglot img:hover    {
    opacity: 1;
}
.polyglot .act img   {
    opacity: 1;
}

.polyglot a {
    background-color: #fff;
}

.polyglot .act a    {
    border-color: #fff;
}

.polyglot-bl {
    display: inline-block;
    line-height: 0;
    margin: auto 0;
}
.polyglot-bl a {
    display: inline-block;
}
.polyglot-dd    {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.polyglot-dd a {
    display: block;
    line-height: 0;
    margin: 4px;
}
.polyglot-dd .dropdown-toggle {
    background-color: transparent;
    margin: 0;
}
.polyglot-dd .dropdown-menu {
    flex-direction: column;
    min-width: auto;
    left: 4px;
    padding: 0;
    background-color: inherit;

}
